body {
    background: linear-gradient(0deg, #000, #1b1033);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Source Code Pro', sans-serif;
}

.title {
    color: #03e9f4;
    position: absolute;
    text-transform: capitalize;
    font-variant: all-petite-caps;
    top: 10%;
    left: 0;
    right: 0;
    opacity: .9;
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
    /*animation: fadeIn;*/
    /*animation-duration: 6s;*/
}

.logo {
    width: auto;
    height: auto;
    position: absolute;
    left: 24px;
    top: 24px;
}

.table {
    z-index: 999;
    margin: 10px;
    /*animation: zoomIn;*/
    /*animation-duration: 4s;*/
}

.flex {
    display: flex;
    float: left;
    position: relative;
}

.column {
    flex-direction: column;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, .6);
    width: 64px;
    height: 64px;
    background: rgba(48, 48, 48, .1);
    display: flex;
    opacity: .8;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: opacity 400ms;
    cursor: pointer;
    color: white;
    position: relative;
}

.line-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, .6);
    width: calc(64px * 4);
    height: 64px;
    background: rgba(48, 48, 48, .1);
    display: flex;
    opacity: .8;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: opacity 400ms;
    cursor: pointer;
    color: white;
}

.box.game-cell {
    color: white;
}

.box.modifier {
    color: gray;
}

.box.values, .line-box.values {
    color: gray;
}

.box.values.active {
    color: white;
}

.box.chosen {
    color: white;
    background: rgba(225, 225, 225, .4);
    border: 1px solid rgba(255, 255, 255, .8);
}

.box.resolved {
    color: #23f403;
    text-shadow: 0 0 5px #23f403, 0 0 25px #23f403, 0 0 50px #23f403, 0 0 100px #23f403;
}

.box.resolved:hover {
    color: #23f403;
    opacity: 1;
    background: rgba(225, 225, 225, .4);
    border: 1px solid rgba(255, 255, 255, .8);
    text-shadow: 0 0 5px #23f403, 0 0 25px #23f403, 0 0 50px #23f403, 0 0 100px #23f403;
}

.box.highlighted {
    color: #f40303;
    text-shadow: 0 0 5px #f40303, 0 0 25px #f40303, 0 0 50px #f40303, 0 0 100px #f40303;
    opacity: 1;
    background: rgba(225, 225, 225, .4);
    border: 1px solid rgba(255, 255, 255, .8);
}

.box.idle:hover, .line-box.idle:hover {
    color: #03e9f4;
    opacity: 1;
    background: rgba(225, 225, 225, .4);
    border: 1px solid rgba(255, 255, 255, .8);
    text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
    animation: pulse;
    animation-duration: 1s;
}

.box.restart {
    color: #f40303;
    text-shadow: 0 0 5px #f40303, 0 0 25px #f40303, 0 0 50px #f40303, 0 0 100px #f40303;
}

.hidden {
    visibility: hidden;
}
